
// FONTS

$header: 'Archivo Black', sans-serif;
$body: 'Open Sans', sans-serif;

$black: #333331;
$white: #F9FAF9;
$primary: #ec2227;
$secondary: #ffde12;
$tertiary: #FFAB00;

@mixin hamburger {
  background-color: $white;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  transition: .3s ease-in-out;
  width: 30px;
}

@mixin burger {
  background: url("../img/burger.png") no-repeat center;
  background-size: contain;
  content: "";
  display: block;
  height: 80px;
  margin: auto;
  margin-top: 40px;
  position: relative;
  width: 80px;
}
