
@import 'reset.scss';
@import 'responsive.scss';
@import 'mixinVariable.scss';
@import 'framework.scss';

html {
  font-size: 1em;

    @include responsive(small-screen) {
      font-size: .8em;
    }
}

/*------------------------
--------NAV MENU----------
------------------------*/



.topNav {
  background-color: transparent;
  position: fixed;
  width: 100%;

    a {
        &:hover {
          color: $tertiary;
        }
    }
}

.logo {
  background-image: url("../img/logo.png");
  height: 20vw;
  min-height: 200px;
  min-width: 200px;
  width: 20vw;
}

.mNav {

  @include responsive(small-screen) {
    display: block;
  }

  @include landscape {
    display: block;
  };
}

.mLogo {
  height: 100px;
  min-height: 100px;
  min-width: 100px;
  width: 100px;
}

#mMenu {
  flex-direction: column;
  height: 100%;
  left: 100%;
  width: 100%;
}

.mOption {
  font-size: 1.618em;
  line-height: 1.618em;
  margin-right: 0;

    &:hover {
      color: $tertiary;
    }
}

.mSoc {
  min-width: 200px;

    li {
      transform: rotate(0);
    }
}

#menuClose {
  cursor: pointer;
}

#hamburger {

  cursor: pointer;
  height: 30px;
  width: 30px;

    &::before {
      @include hamburger;
      transform: scaleX(1.15);
      transform-origin: right;
      top: 10px;
    }

    &::after {
      @include hamburger;
      bottom: 10px;
    }

    &:hover::before {
      transform: scaleX(1);
    }

    &:hover::after {
      bottom: 5px;
    }

    @include responsive(small-screen) {
      display: inline-block;
    }
}

.hamBlack {

    &::before, &::after {
      background-color: $black!important;
    }
}

.navOption {
  margin-right: 60px;
}

.tix {
  transform: translateY(-10px);
}

.socNav {
  align-items: center;
  justify-content: space-around;
}


/*------------------------
--------FRONT PAGE--------
------------------------*/

.hero {
  background-attachment: fixed;
  background-image: url("../img/hero.png");
  background-position: bottom center;
  flex-direction: column;
  min-height: 100vh;

    @include responsive(small-screen) {
      background-attachment: scroll;
    }

    @include landscape {
      background-attachment: scroll;
    }
}

#info {
  background-image: linear-gradient(to right, $primary 0%, $secondary 100%);

    h1 {

        @include responsive(small-screen) {
          font-size: 2.618em;
        }
    }
}

.eventWrapper {

    @include responsive(small-screen) {
      padding: 0;
    }
}

.eventCont {
  border: 1em solid $white;

    &:hover {
      border: 1em solid $black;

        h1, h2, h3, p {
          color: $black;
        }

        .imgEvent {
          opacity: 1;
        }
    }

    @include responsive(small-screen) {
      border: 1em solid $black;
      margin: 1em 0;

        &:last-child {
          margin-bottom: 0;
        }

          h1, h2, h3, p {
            color: $black;
          }

          .imgEvent {
            opacity: 1;
          }
    }
}

.imgEvent {
  height: 100%;
  width: 100%;
}

.imgDet {
  background-image: url("../img/overhead.jpg");
}

.imgGR {
  background-image: url("../img/overhead2.jpg");
  background-position: top center;
}

.eventOpt {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.contactBtn {

    &:hover {
      color: $tertiary;
    }
}

/*------------------------
--------TEXT CONTENT-------
------------------------*/

.contTxt {
  max-width: 500px;
  padding-top: 100px;
}

.headline {

    &::after {

      @include burger;
    }
}

.imgDiv {
  background-attachment: fixed;
  height: 400px;
  width: 100vw;

    @include responsive(small-screen) {
      background-attachment: scroll;
    }
}

/*------------------------
--------SPONSORS----------
------------------------*/

.sponsorDiv {
  flex-wrap: wrap;
}

.sponsor {
  height: 10vw;
  max-height: 200px;
  max-width: 200px;
  width: 10vw;

    @include responsive(small-screen) {
      height: 15vw;
      width: 15vw;
    }
}

#faygo {
  background-image: url("../img/faygo.png");
}

#volunteer {

    @include responsive(small-screen) {
      padding: 0;
    };
}

/*------------------------
--------EVENTPAGE---------
------------------------*/

.eventHero {
  background-attachment: fixed;
  background-image: url("../img/eventHero.png");
  background-position: right center;
  min-height: 100vh;

    @include responsive(small-screen) {
      background-position: left center;
    }
}

.eventHeroGR {
  background-attachment: fixed;
  background-image: url("../img/eventHeroGR.png");
  background-position: right center;
  min-height: 100vh;

  @include responsive(small-screen) {
    background-position: left center;
  }
}

#heroFade {
  background-image: linear-gradient(to right, rgba(10,10,10,.8) 0%, transparent 40%);
  height: 100%;

    @include responsive(small-screen) {
      background-image: linear-gradient(to right, rgba(10,10,10,.8) 0%, transparent 90%);

    }
}

#evTitle {
  background-color: rgba(10,10,10,0);

    @include responsive(small-screen) {
      display: none;
    }
  }

.evInfo {
  min-height: 100vh;
}

.sideNav {
  flex-direction: column;

    @include responsive(small-screen) {
      position: absolute;
      width: 100%;
    }
}

.evOpt {
  margin-bottom: 1.618em;

    &:hover a {
      color: $tertiary;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @include responsive(small-screen) {
      margin-bottom: 1em;
      text-align: center;

        &:first-child {
          background-color: rgba(10,10,10,.8);
          display: block;
        }
    }
}

.evLocat {

    @include responsive(small-screen) {
      padding: 0;
    }
}

#map {
  height: 400px;
  max-width: 100%;
  width: 400px;
}

.buy {
    &:hover {
      color: $white;
    }
}

.tix {
  background-image: url("../img/tix.png");
  height: 40px;
  width: 40px;
}

/*------------------------
--------CONTACT----------
------------------------*/

.bgLogo {
  background-image: url("../img/logo.png");
  height: 100vh;
  width: 100vw;

    @include responsive(small-screen) {
      display: none;
    }
}

.contactWrapper {
  background-image: linear-gradient(to right, $primary 0%, $secondary 100%);

    .sideNav {

        @include responsive(small-screen) {
          display: none;
        }
    }
}

.contact {
  min-height: 100vh;
}

.formDiv {
  background-color: transparent;
  min-width: 500px;
  max-width: 500px;

    @include responsive(small-screen) {
      min-width: 100%;
      width: 100%;

        h2 {
          color: $white;
          font-size: 2em;
        }
    }
}

label {
  padding-left: 8px;

    @include responsive(small-screen) {
      font-size: .8em;
    }
}

.volInput {
  background-color: rgba(253,253,253,.4);
  border: none;
  color: $white;
  display: block;
  font-family: $body;
  line-height: 2.618em;
  padding-left: 8px;
  outline: none;
  width: 100%;

    &:focus {
      color: $white;
    }
}

.volArea {
  overflow: scroll;
  resize: none;
}

input[type="radio"] {
  border: 4px solid $white;
  height: 20px;
  margin: 0;
  position: relative;
  top: 4px;
  -webkit-appearance: none;
  width: 20px;

    &:checked {
      background-color: $white;
    }

    &:focus {
      box-shadow: none;
      outline: none;
    }
}

input[type="submit"] {
  appearance: none;
  background-color: transparent;
  border: 5px solid $white;
  cursor: pointer;
  font-size: 1em;
  margin-left: 0;
  -moz-appearance: none;
  outline: none;
  -webkit-appearance: none;

    &:hover {
      color: $primary;

        @include responsive(small-screen) {
            color: $white;
        }
    }
}
