
@import 'reset.scss';
@import 'responsive.scss';
@import 'mixinVariable.scss';
@import 'framework.scss';

html {
  font-size: 1em;

    @include responsive(small-screen) {
      font-size: .8em;
    }
}

/*------------------------
--------NAV MENU----------
------------------------*/



.topNav {
  background-color: transparent;
  position: fixed;
  width: 100%;

    a {
        &:hover {
          color: $tertiary;
        }
    }
}

.logo {
  background-image: url("../img/logo.png");
  height: 20vw;
  min-height: 200px;
  min-width: 200px;
  width: 20vw;
}

.mNav {

  @include responsive(small-screen) {
    display: block;
  }

  @include landscape {
    display: block;
  };
}

.mLogo {
  height: 100px;
  min-height: 100px;
  min-width: 100px;
  width: 100px;
}

#mMenu {
  flex-direction: column;
  height: 100%;
  left: 100%;
  width: 100%;
}

.mOption {
  font-size: 1.618em;
  line-height: 1.618em;
  margin-right: 0;

    &:hover {
      color: $tertiary;
    }
}

.mSoc {
  min-width: 200px;

    li {
      transform: rotate(0);
    }
}

#menuClose {
  cursor: pointer;
}

#hamburger {

  cursor: pointer;
  height: 30px;
  width: 30px;

    &::before {
      @include hamburger;
      transform: scaleX(1.15);
      transform-origin: right;
      top: 10px;
    }

    &::after {
      @include hamburger;
      bottom: 10px;
    }

    &:hover::before {
      transform: scaleX(1);
    }

    &:hover::after {
      bottom: 5px;
    }

    @include responsive(small-screen) {
      display: inline-block;
    }
}

.hamBlack {

    &::before, &::after {
      background-color: $black!important;
    }
}

.navOption {
  margin-right: 60px;
}

.tix {
  transform: translateY(-10px);
}

.socNav {
  align-items: center;
  justify-content: space-around;
}


/*------------------------
--------FRONT PAGE--------
------------------------*/

.hero {
  background-attachment: fixed;
  background-image: url("../img/hero3.jpg");
  background-position: bottom center;
  flex-direction: column;
  min-height: 100vh;

    @include responsive(small-screen) {
      background-attachment: scroll;
    }

    @include landscape {
      background-attachment: scroll;
    }
}

#info {
  background-image: linear-gradient(to right, $primary 0%, $secondary 100%);

    h1 {

        @include responsive(small-screen) {
          font-size: 2.618em;
        }
    }
}

.eventWrapper {

    @include responsive(small-screen) {
      padding: 0;
    }

    @include responsive(small-screen) {
      display: block;
    }
}

.eventCont {
  border: 1em solid $white;

    &:hover {
      border: 1em solid $black;

        h1, h2, h3, p {
          color: $black;
        }

        .imgEvent {
          opacity: 1;
        }
    }

    @include responsive(small-screen) {
      border: 1em solid $black;
      margin: 1em 0;

        &:last-child {
          margin-bottom: 0;
        }

          h1, h2, h3, p {
            color: $black;
          }

          .imgEvent {
            opacity: 1;
          }
    }
}

.imgEvent {
  height: 100%;
  width: 100%;
}

.imgDet {
  background-image: url("../img/overheadNew.jpg");
  background-position: left center;
  background-size: 200%;

  @include responsive(small-screen) {
    background-size: 400%;
  }
}

.imgGR {
  background-image: url("../img/overheadNew.jpg");
  background-position: right center;
  background-size: 200%;

  @include responsive(small-screen) {
    background-size: 400%;
  }
}

.eventOpt {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.contactBtn {

    &:hover {
      color: $tertiary;
    }
}

/*------------------------
--------TEXT CONTENT-------
------------------------*/

.contTxt {
  max-width: 500px;
  padding-top: 100px;

    @include responsive(xl-screen) {
      margin: auto;
    }
}

.headline {

    &::after {

      @include burger;
    }
}

.imgDiv {
  background-attachment: fixed;
  height: 400px;
  width: 100vw;

    @include responsive(small-screen) {
      background-attachment: scroll;
    }
}

/*------------------------
--------SPONSORS----------
------------------------*/

#dSpon {
  padding-top: 100px;
}

.sponsorDiv {
  max-width: 66vw;

    @include responsive(small-screen) {
      max-width: 100%;
    }

    @include responsive(xl-screen) {
      margin: auto;
    }
}

.sponsor {
  height: 10vw;
  max-height: 200px;
  max-width: 200px;
  width: 10vw;

    @include responsive(small-screen) {
      height: 15vw;
      width: 15vw;
    }
}

#fairway {
  background-image: url("../img/fairway.png");
}

#faygo {
  background-image: url("../img/faygo.png");
}

#nee {
  background-image: url("../img/nee.png");
}

#frita {
  background-image: url("../img/frita.png");
}

#hipoint {
  background-image: url("../img/hipoint.png");
}

#atwater {
  background-image: url("../img/atwater.jpg");
}

#exodos {
  background-image: url("../img/exodos.jpg");
}

#brome {
  background-image: url("../img/brome.jpg");
}

#oak {
  background-image: url("../img/oak.png");
}

#ink {
  background-image: url("../img/ink.png");
}

#fire {
  background-image: url("../img/fire.jpg");
}

#social {
  background-image: url("../img/social.jpg");
}

#lovers {
  background-image: url("../img/lovers.jpg");
}

#second {
  background-image: url("../img/second.png");
}

#players {
  background-image: url("../img/players.jpg");
}

#legends {
  background-image: url("../img/legends.png");
}

#crow {
  background-image: url("../img/crow.png");
}

#town {
  background-image: url("../img/town.png");
}

#axle {
  background-image: url("../img/axle.png");
}

#river {
  background-image: url("../img/river.png");
}

#first {
  background-image: url("../img/first.png");
}

#aqua {
  background-image: url("../img/aqua.png");
}

#lis {
  background-image: url("../img/lis.jpg");
}

#dmfg {
  background-image: url("../img/dmfg.png");
}

#beyond {
  background-image: url("../img/beyond.png");
}

#water {
  background-image: url("../img/water.png");
}

#delBen {
  background-image: url("../img/delBen.png");
}

#mikes {
  background-image: url("../img/mikes.jpg");
}

#barefoot {
  background-image: url("../img/barefoot.png");
}

#budweiser {
  background-image: url("../img/budweiser.png");
}

#girls {
  background-image: url("../img/girls.jpg");
}

#dcc {
  background-image: url("../img/dcc.png");
}

#pruitts {
  background-image: url("../img/pruitts.png");
}

#american {
  background-image: url("../img/greektown.png");
}

#volunteer {

    @include responsive(small-screen) {
      padding: 0;
    };
}

.gallery {
  max-width: 78vw;

    @include responsive(small-screen) {
      max-width: 100%;
      text-align: center;
    }

    @include responsive(xl-screen) {
      margin: auto;
      text-align: center;
    }
}

.photo {
  box-shadow: 0 0 4px rgba(10,10,10,.4);
  height: calc(26vw - 6em);
  max-height: 240px;
  max-width: 240px;
  min-height: 120px;
  min-width: 120px;
  width: calc(26vw - 6em);

    @include responsive(small-screen) {
      height: 20vw;
      width: 20vw;
    }
}

#p1 {
  background-image: url("../img/p1.jpg");
}

#p2 {
  background-image: url("../img/p2.jpg");
}

#p3 {
  background-image: url("../img/p3.jpg");
}

#p4 {
  background-image: url("../img/p4.jpg");
}

#p5 {
  background-image: url("../img/p5.jpg");
}

#p6 {
  background-image: url("../img/p6.jpg");
}

#p7 {
  background-image: url("../img/p7.jpg");
}

#p8 {
  background-image: url("../img/p8.jpg");
}

#p9 {
  background-image: url("../img/p9.jpg");
}

#p10 {
  background-image: url("../img/p10.jpg");
}

#p11 {
  background-image: url("../img/p11.jpg");
}

#p12 {
  background-image: url("../img/p12.jpg");
}

/*------------------------
--------EVENTPAGE---------
------------------------*/

.eventHero {
  background-image: url("../img/eventHero.jpg");
  background-position: right center;
  min-height: 100vh;
  transform: scaleX(-1);

    @include responsive(small-screen) {
      background-position: left center;
    }
}

.eventHeroGR {
  background-image: url("../img/eventHeroGR.png");
  background-position: right center;
  min-height: 100vh;

  @include responsive(small-screen) {
    background-position: left center;
  }
}

#heroFade {
  background-image: linear-gradient(to right, rgba(10,10,10,.8) 0%, transparent 40%);
  height: 100%;

    @include responsive(small-screen) {
      background-image: linear-gradient(to right, rgba(10,10,10,.8) 0%, transparent 90%);

    }
}

#evTitle {
  background-color: rgba(10,10,10,0);

    @include responsive(small-screen) {
      display: none;
    }
  }

.evInfo {
  min-height: 100vh;

    @include responsive(xl-screen) {
      text-align: center;
    }
}

.sideNav {
  flex-direction: column;

    @include responsive(small-screen) {
      position: absolute;
      width: 100%;
    }
}

.evOpt {
  margin-bottom: 1.618em;

    &:hover a {
      color: $tertiary;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @include responsive(small-screen) {
      margin-bottom: 1em;
      text-align: center;

        &:first-child {
          background-color: rgba(10,10,10,.8);
          display: block;
        }
    }
}

.evLocat {

    @include responsive(small-screen) {
      padding: 0;
    }
}

#map {
  height: 400px;
  max-width: 100%;
  width: 400px;
}

.buy {
    &:hover {
      color: $white;
    }
}

.tix {
  background-image: url("../img/tix.png");
  height: 40px;
  width: 40px;
}

/*------------------------
--------CONTACT----------
------------------------*/

.bgLogo {
  background-image: url("../img/logo.png");
  height: 100vh;
  width: 100vw;

    @include responsive(small-screen) {
      display: none;
    }
}

.contactWrapper {
  background-image: linear-gradient(to right, $primary 0%, $secondary 100%);

    .sideNav {

        @include responsive(small-screen) {
          display: none;
        }
    }
}

.contact {
  min-height: 100vh;
}

.formDiv {
  background-color: transparent;
  min-width: 500px;
  max-width: 500px;

    @include responsive(small-screen) {
      min-width: 100%;
      width: 100%;

        h2 {
          color: $white;
          font-size: 2em;
        }
    }
}

label {
  padding-left: 8px;

    @include responsive(small-screen) {
      font-size: .8em;
    }
}

.volInput {
  background-color: rgba(253,253,253,.4);
  border: none;
  color: $white;
  display: block;
  font-family: $body;
  line-height: 2.618em;
  padding-left: 8px;
  outline: none;
  width: 100%;

    &:focus {
      color: $white;
    }
}

.volArea {
  overflow: scroll;
  resize: none;
}

input[type="radio"] {
  border: 4px solid $white;
  height: 20px;
  margin: 0;
  position: relative;
  top: 4px;
  -webkit-appearance: none;
  width: 20px;

    &:checked {
      background-color: $white;
    }

    &:focus {
      box-shadow: none;
      outline: none;
    }

    @include responsive(small-screen) {
      top: 6px;
    }
}

input[type="submit"] {
  appearance: none;
  background-color: transparent;
  border: 5px solid $white;
  cursor: pointer;
  font-size: 1em;
  margin-left: 0;
  -moz-appearance: none;
  outline: none;
  -webkit-appearance: none;

    &:hover {
      color: $primary;

        @include responsive(small-screen) {
            color: $white;
        }
    }
}
